* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 30px 0;
  color: #0075da;
}

header {
  width: 100%;

}

nav {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  margin: 0 20px;
}
.logo a i {
  color: #0075da;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0075da;
}

#check {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

form {
  min-height: 62vh;
  width: 80vw;
  max-width: 700px;
  padding: 20px 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr th,
tr td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #aaa;
  width: 80%;
  font-size: 16px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #00b3ff;
}

.delete-matter {
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #d70000;
}

.delete-matter:hover,
.buttons-form:hover {
  filter: brightness(110%);
}

.buttons-form {
  width: 90px;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  border: none;
  margin: 0 30px;
}

.buttons-forms-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.calculate {
  background-color: #0075da;
}

.clean {
  background-color: #ff4700;
}

.add-matter {
  background-color: #49c116;
}

.average {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.average.approved {
  color: #d60000;
}

.average.disapproved {
  color: #3cb500;
}

dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  
}
/* Display flex dialog when is open */
dialog[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dialog-message {
  width: 80%;
  max-width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.dialog-button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background-color: #0075da;
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 10vh;
  background-color: #fff7f7;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-size: 16px;
  font-weight: bold;
  color: #0075da;
}

.github-button{
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: #0075da;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 30px;
  }
  form {
    width: 95vw;
    padding: 20px 0;
  }

  th,
  input {
    font-size: 15px;
  }

  nav ul li a{
    font-size: 14px;
  }
}
@media screen and (max-width: 655px) {
  h1 {
    font-size: 28px;
  }
  .buttons-form {
    margin: 0 10px;
  }
  nav label {
    display: block;
    font-size: 27px;
    cursor: pointer;
  }

  nav ul {
    position: absolute;
    width: 50vw;
    height: 200px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(-120%) translateY(135px);
    transition: transform 0.3s;
  }

  nav ul li {
    margin: 0;
  }

  label {
    margin: 0 10px;
    color: #0075da;
  }

  label #cancel {
    display: none;
  }

  #check:checked ~ label #btn {
    display: none;
  }
  #check:checked ~ label #cancel {
    display: block;
  }

  #check:checked ~ ul {
    transform: translateX(0) translateY(135px);
  }
}
